snippet unittest "" b
import unittest
from `!p snip.rv = snip.basename` import *

class Test`!p snip.rv = snip.basename` (unittest.TestCase):
	def test_${1:main}(self):
		${0}
endsnippet

snippet assertEquals "" b
self.assertEquals(
	${1:first},
	${2:second}
)
endsnippet

snippet testfun "" b
def test__${1:name}(self):
	${0}
endsnippet
