snippet log "" b
console.log("${1:var} <-" + ${1});
${2}
endsnippet

snippet log "" b
<form class="XForm" action="{% url 'APPName:URL' %}" method="POST|GET">
	<input type="text"   name="ArgName" value="ArgValue"/>
	<input type="hidden" name="ArgName" value="ArgValue"/>
	<input type="submit" value="Go!"/>
</form>
endsnippet

