snippet . "New entry" b
[%] @${1:YourGreatThought}
endsnippet

snippet ., "New entry with date" b
$`date +%Y%m%d` {${1:tags}} @${2:link}
endsnippet


snippet header_samsung "Header for samsung" b
############################################
##### @Description
#$0

##### @Input/Output
#

##### @Author
# s.bugaj@samsung.com
############################################
endsnippet
