snippet coutVar "" b
cout << "${1:variablename} == " << $1 << endl;
endsnippet

snippet cleanExperiment "template for c++ experiment" b
/* to compile: g++ -std=c++11 main.cpp -o all; ./all */
#include <iostream>
#include <string>
#include <vector>
#include <unordered_map>
#include <memory>

using namespace std;

int main() {
	using namespace std;
	return 0;
}
endsnippet
