snippet animateView "animate view: rotation, scale, alpha" b
final View viewToAnimate = view;
viewToAnimate.animate()
		.scaleX(0.5f)
		.scaleY(0.5f)
		.setDuration(1000)
		.setInterpolator(new LinearInterpolator())
		.setListener(new AnimatorListenerAdapter() {
			@Override
			public void onAnimationEnd(Animator animator) {
				viewToAnimate.setScaleX(1);
				viewToAnimate.setScaleY(1);
			}
		});
endsnippet


