/*
	Its really, really messy here...
*/

body {
	font-family: Helvatica;
	font-size: 32px;
	background-color: black;
	color: white;
}

span.WebTitle {
	margin: 3px;
	background-color: #0e2136; /*description*/
	color: white;
	color: white;
Pbackground-color: #3575bf;
	font-family: Courier;
	 /* round the corners */
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;

    /* make it glow! */
    -webkit-box-shadow: 0px 0px 4px #4195fc;
       -moz-box-shadow: 0px 0px 4px #4195fc;
            box-shadow: 0px 0px 4px #4195fc; /* some variation of blue for the shadow */
}

hr {
	color: #003380;
	background-color: #003380;
	height: 1px;
	border: 0;
    background: white;
}
button {
	background: black;
	color: white;
}
h1 {
	text-align: center;
	display: inline;
}
h2 {
	text-align: center;
	display: inline;
}
h3 {
	text-align: center;
	display: inline;
}

hr {

}

a:link {
    color: white;
    text-decoration: none;
    transition: color 0.5s ease;
    transition: background-color 0.5s ease;
}
a:visited {
	transition: color 0.5s ease;
    color: white;
}
a:hover {
	transition: color 0.5s ease;
    color:#3575bf;
}

span.REF {
	font-weight: bold;
	text-decoration: underline overline;
}
span.HYP {
	font-weight: bold;
}

table {
	/*min-width: 150px;*/
	width: 70%;
	border: 0;
	margin: auto;
	cellspacing: 0; 
	celpadding: 15px;
	align: center;
	cellpadding: 15px;
}
table, td, tr {
	font-size: 90%;
	padding: 20px;
	border-spacing: 20px;
    border: 0px solid green;
}
td {
	max-width: 800px;
	background-color: #0e2136; /*description*/
	word-wrap: break-word;
	padding: 8px;
	border: 3px solid #173659;
	/* round the corners */
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;

    /* make it glow! */
    -webkit-box-shadow: 0px 0px 4px #4195fc;
       -moz-box-shadow: 0px 0px 4px #4195fc;
            box-shadow: 0px 0px 4px #4195fc; /* some variation of blue for the shadow */
}

div.WORD {
	color: white;
	text-align: center;
	font-size: 180%;
}

div.phblock {
	display: none;
	position: absolute;
	padding: 10px;
	background-color: #0e2136; /*description*/
	color: white;
	border: 1px solid #3575bf;
	font-size: 70%;
	 /* round the corners */
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;

    /* make it glow! */
    -webkit-box-shadow: 0px 0px 4px #4195fc;
       -moz-box-shadow: 0px 0px 4px #4195fc;
            box-shadow: 0px 0px 4px #4195fc; /* some variation of blue for the shadow */
}
div#container {
	width: 580px;
	/*margin: 100px auto 0 auto;*/
	padding: 20px;
	border: 0px solid #1a1a1a;
}

ul {
	font-family: Helvatica;
	font-size: 80%;
	padding-left: 25px;
	list-style-type: square;
}
ul li{
    color: #00CCFF
}

/* FORMS */
form { 
	background-color: #0e2136; /*description*/
	color: white;
	margin: 0 auto; 
	text-align: center;
	font-family: monospace;
}

input {
  	border-color: white;
  	border: 1px;
  	border-radius: 5;
  	background: black;
	color: white;
	font-family: Helvatica;
	border-radius: 3px;
	margin: 2px;
	size: 13;
	transition: color 0.5s ease;
	font-size: 90%;
}
input:hover{
    color: #3575bf;
    /*transition: all 0.5s ease;*/
}
input[type=submit]{
	/*font-family: Helvatica;*/
	font-size: 100%;
}
input {
    border: 1px solid #4195fc; /* some kind of blue border */

    /* other CSS styles */

    /* round the corners */
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;


    /* make it glow! */
    -webkit-box-shadow: 0px 0px 4px #4195fc;
       -moz-box-shadow: 0px 0px 4px #4195fc;
            box-shadow: 0px 0px 4px #4195fc; /* some variation of blue for the shadow */
}
input.remove[type="submit"] {
	color: red;
	background: #381b1b;
	font-family: monospace;
}

input.add[type="submit"] {
	color: green;
	background:  #1b380c;
	font-family: monospace;
}
/* Span state of a form */
span.state-added {
    /* round the corners */
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;

    /* make it glow! */
    -webkit-box-shadow: 0px 0px 4px #4195fc;
       -moz-box-shadow: 0px 0px 4px #4195fc;
            box-shadow: 0px 0px 4px #4195fc; /* some variation of blue for the shadow */

	background:  #1b380c;
	color: green;
	transition: all 0.5s ease;
}
span.state-zero { 
	transition: all 0.5s ease;
}
span.state-removed {
    /* round the corners */
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;

    /* make it glow! */
    -webkit-box-shadow: 0px 0px 4px #4195fc;
       -moz-box-shadow: 0px 0px 4px #4195fc;
            box-shadow: 0px 0px 4px #4195fc; /* some variation of blue for the shadow */

	background: #381b1b;
	color: red;
	transition: all 0.5s ease;
}
span.state-blacklisted {
    /* round the corners */
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;

    /* make it glow! */
    -webkit-box-shadow: 0px 0px 4px #4195fc;
       -moz-box-shadow: 0px 0px 4px #4195fc;
            box-shadow: 0px 0px 4px #4195fc; /* some variation of blue for the shadow */

	background: black;
	color: white;
	transition: all 0.5s ease;
}

span.copyButton { 
	/* round the corners */
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;

    /* make it glow! */
    -webkit-box-shadow: 0px 0px 4px #4195fc;
       -moz-box-shadow: 0px 0px 4px #4195fc;
            box-shadow: 0px 0px 4px #4195fc; /* some variation of blue for the shadow */

	background: #003f66;
	color: white;
	transition: all 0.5s ease;
}
span.copyButtonEmpty {
	transition: all 0.5s ease;
}

input[type="radio"] {
	display: none;
	margin-top:5px;
}

input[type="radio"] + label {
	margin-top:5px;
	color: white;
	transition: color 0.5s ease;
	transition: background-color 0.5s ease;
}
input[type="radio"] + label span {
	background: none repeat scroll 0 0 #00CCFF;
	border-radius: 0%;
	cursor: pointer;
	display: inline-block;
	height: 8px;
	margin: -1px 8px 0 0;
	vertical-align: middle;
	width: 8px;
	transition: color 0.5s ease;
	transition: background-color 0.5s ease;
}
input[type="radio"]:checked + label span {
	background: green;
}
input[type="radio"]:checked + label {
	background: #00CCFF;
}





tr.pageController {
	border: 0px solid black;
}

td.pageController {
	color: #898989;
	font-size: 80%;
	text-align: justify;
	text-align: center;
	align: center;
	text-justify: inter-word;
	/*margin: 100px auto 0 auto;*/
	padding: 0px;
	background-color: black;

	border-radius: 0px;
	border: 0px solid black;

	 -webkit-box-shadow: 0px 0px 0px #4195fc;
       -moz-box-shadow: 0px 0px 0px #4195fc;
            box-shadow: 0px 0px 0px #4195fc; /* some variation of blue for the shadow */

}

span.choosenPage {
/*	color: white;*/
	font-weight: bold;
	color: #4195fc;
	font-size: 150%;
}

div.pageControllerArrows {
	color: #898989;
	text-align: center;
	font-size: 150%;
}
div.pageControllerBorder {
	border: 3px solid gray;
	display: inline-block;
	max-width: 75%;
	margin: auto;
	border-radius: 10px;
	padding: 10px;
	background-color: #404040  ;
}

a.home {
	color: #898989;
}
a.home:hover{

	color:white;
}

/*
	BETA notification
*/
div.buttonWrongRef:hover{
	color: #3575bf;
	transition: color 0.5s ease;
}
div.buttonAmbigOrt:hover{
	color: #3575bf;
	transition: color 0.5s ease;
}
div.buttonMismatchRecording:hover{
	color: #3575bf;
	transition: color 0.5s ease;
}
div.buttonIncomprehensibleRecording:hover{
	color: #3575bf;
	transition: color 0.5s ease;
}
div.buttonWrongRef {
	/*background-color: red;*/
	margin: auto;
	display: inline-block;
	font-family: monospace;

	border-radius: 0px;
	border: 0px solid black;

	    /* round the corners */
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;

    /* make it glow! */
    -webkit-box-shadow: 0px 0px 4px #4195fc;
       -moz-box-shadow: 0px 0px 4px #4195fc;
            box-shadow: 0px 0px 4px #4195fc; /* some variation of blue for the shadow */

	background: #404040;
	transition: color 0.5s ease;
}

div.buttonAmbigOrt {
	/*background-color: red;*/
	padding: 0px;
	background-color: black;
	margin: auto;
	display: inline-block;
    font-family: monospace;

    border-radius: 0px;
	border: 0px solid black;

	    /* round the corners */
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;

    /* make it glow! */
    -webkit-box-shadow: 0px 0px 4px #4195fc;
       -moz-box-shadow: 0px 0px 4px #4195fc;
            box-shadow: 0px 0px 4px #4195fc; /* some variation of blue for the shadow */

	background: #404040;

}
div.buttonMismatchRecording {
	/*background-color: red;*/
	padding: 0px;
	background-color: black;
	margin: auto;
	display: inline-block;
    font-family: monospace;

    border-radius: 0px;
	border: 0px solid black;

	    /* round the corners */
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;

    /* make it glow! */
    -webkit-box-shadow: 0px 0px 4px #4195fc;
       -moz-box-shadow: 0px 0px 4px #4195fc;
            box-shadow: 0px 0px 4px #4195fc; /* some variation of blue for the shadow */

	background: #404040;

}
div.buttonIncomprehensibleRecording {
	/*background-color: red;*/
	padding: 0px;
	background-color: black;
	margin: auto;
	display: inline-block;
    font-family: monospace;

    border-radius: 0px;
	border: 0px solid black;

	    /* round the corners */
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;

    /* make it glow! */
    -webkit-box-shadow: 0px 0px 4px #4195fc;
       -moz-box-shadow: 0px 0px 4px #4195fc;
            box-shadow: 0px 0px 4px #4195fc; /* some variation of blue for the shadow */

	background: #404040;

}

div.betaNotificationDetails {
	display: none;
	position: absolute;
	padding: 10px;
	background-color: #404040;
	color: white;
	border: 1px solid #3575bf;
	font-size: 70%;
	/*width: 320px;*/
	font-size: 100%;
	/*zoom: 125%;*/
	 /* round the corners */
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;

    /* make it glow! */
    -webkit-box-shadow: 0px 0px 4px #404040;
       -moz-box-shadow: 0px 0px 4px #404040;
            box-shadow: 0px 0px 4px #404040; /* some variation of #3575bf for the shadow */
}

div.betaNotificationDetailsTitle {
	text-align: center;
}

form.BETA { 
	display: inline-block;
	margin: auto;
	background-color: #404040; /*description*/
	color: white;
	text-align: center;
	font-family: monospace;
}

div.audioControls {
	position: relative;
    z-index: 1;
    opacity: 0.6;
}

span.notifyLamp[state="Added"] {
	 /* round the corners */
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;

    /* make it glow! */
    -webkit-box-shadow: 0px 0px 4px #4195fc;
       -moz-box-shadow: 0px 0px 4px #4195fc;
            box-shadow: 0px 0px 4px #4195fc; /* some variation of blue for the shadow */

	background:  #1b380c;
	color: green;
	transition: all 0.5s ease;
}

span.notifyLamp[state="Zero"] {
	transition: all 0.5s ease;
}



div.buttonCloseWindow {
	transition: color 0.5s ease;
	text-align: right;
}
span.buttonCloseWindow {
	color: #479DFF;

	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* IE/Edge */
	user-select: none;           /* non-prefixed version, currently
	      not supported by any browser */
	cursor: crosshair;
}
span.buttonCloseWindow:hover{
	color: white;
	transition: color 0.5s ease;

}

span.prev {
	color: #E65C5C;
	text-decoration: line-through;
}
span.prev a:link {
	color: #E65C5C;
}
span.prev a:visited {
	color: #E65C5C;
}
span.prev a:hover {
    color:#3575bf;
}
span.curr {
	color: #007A29;
}
span.curr a:link {
	color: green;
}
span.curr a:visited {
	color: green;
}
span.curr a:hover {
    color:#3575bf;
}

a.word[diffState="Deleted"] {
	color: #b3ccff;
	text-decoration: line-through;
	transition: color 0.5s ease;
}
a.word[diffState="Deleted"]:link {
	color: #b3ccff;
}
a.word[diffState="Deleted"]:visited {
	color: #b3ccff;
}
a.word[diffState="Deleted"]:hover {
    color:#3575bf;
}


a.word[diffState="Inserted"] {
	color: #b3ccff;
	text-decoration: underline;
	transition: color 0.5s ease;
}
a.word[diffState="Inserted"] {
	color: #b3ccff;
}
a.word[diffState="Inserted"]:link {
	color: #b3ccff;
}
a.word[diffState="Inserted"]:visited {
	color: #b3ccff;
}
a.word[diffState="Inserted"]:hover {
    color:#3575bf;
}

span.checkBoxDescription {
	font-family: Helvatica;
	font-size: 16px;
}


div.updatesLinkageDiv {
	max-width: 300px;
	margin: auto;
	text-align: center;
}

div.updatesLinkageTitle {
	text-align: center;
	font-weight: bold;
}
div.updatesLinkageRemoved {
	margin-left: 35px;
	margin-right: 50px;
	/*display: inline-block;*/
	/*text-align: center;*/
	color: white;
	color: white;
	background-color: #762323;
	 /* round the corners */
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;

    /* make it glow! */
    -webkit-box-shadow: 0px 0px 4px #4195fc;
       -moz-box-shadow: 0px 0px 4px #4195fc;
            box-shadow: 0px 0px 4px #4195fc; /* some variation of blue for the shadow */
}
div.updatesLinkageAdded {
	margin-left: 35px;
	margin-right: 50px;
	/*display: inline-block;*/
	/*text-align: center;*/
	background-color: #244F03; /*description*/
	color: white;
	color: white;
	 /* round the corners */
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;

    /* make it glow! */
    -webkit-box-shadow: 0px 0px 4px #4195fc;
       -moz-box-shadow: 0px 0px 4px #4195fc;
            box-shadow: 0px 0px 4px #4195fc; /* some variation of blue for the shadow */
}

div.SearchDiv {
	margin: 3px;
	background-color: #0e2136; /*description*/
	color: white;
	color: white;
	background-color: #3575bf;
	font-family: Courier;
	 /* round the corners */
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;

    /* make it glow! */
    -webkit-box-shadow: 0px 0px 4px #4195fc;
       -moz-box-shadow: 0px 0px 4px #4195fc;
            box-shadow: 0px 0px 4px #4195fc; /* some variation of blue for the shadow */
}
