<script>
function callback_choosePageController(obj) {
    postURL = $(obj).attr('postURL');
	
	$('<form action="'+ postURL + '" method="POST"/>')
        .append($('<input type="hidden" name="partNumber" value="' + $(obj).text() + '">'))
        .append($('<input type="hidden" name="fileName" value="' + FILE_NAME + '">'))
        .append($('<input type="hidden" name="languageCode" value="' + G2P_LANGUAGE_CODE + '">'))
        .appendTo($(document.body))
        .submit();
}

function callback_choosePageController_prev(obj) {
    postURL = $(obj).attr('postURL');
	
	$('<form action="'+ postURL + '" method="POST"/>')
        .append($('<input type="hidden" name="partNumber" value="' + {{ currPart|add:"-1" }} + '">'))
        .append($('<input type="hidden" name="fileName" value="' + FILE_NAME + '">'))
        .append($('<input type="hidden" name="languageCode" value="' + G2P_LANGUAGE_CODE + '">'))
        .appendTo($(document.body))
        .submit();
}

function callback_choosePageController_next(obj) {
    postURL = $(obj).attr('postURL');
	
	$('<form action="'+ postURL + '" method="POST"/>')
        .append($('<input type="hidden" name="partNumber" value="' + {{ currPart|add:"1" }} + '">'))
        .append($('<input type="hidden" name="fileName" value="' + FILE_NAME + '">'))
        .append($('<input type="hidden" name="languageCode" value="' + G2P_LANGUAGE_CODE + '">'))
        .appendTo($(document.body))
        .submit();
}

$(function() {
	$('document').ready(function(e) {
		searchForm = $('form.SearchForm');
		searchForm.children('input[name="fileName"]')[0].value 		= FILE_NAME;
		searchForm.children('input[name="languageCode"]')[0].value 	= G2P_LANGUAGE_CODE;
	});
});
</script>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<tr class="pageController">
<td class="pageController" colspan="4">
	{% csrf_token %}
	
	<div class="pageControllerBorder">

		<span class="WebTitle">TIweb</span>

		<div class="pageControllerArrows">	    
		    <a class="home" href="{% url 'tifocus:index' %}">&#8962;</a> 
		    <a class="home" href="{% url 'tifocus:chooseFile' %}">&#9652;</a> 
		    <a class="home" href="{% url 'tifocus:chooseUpdatesToPush' %}">  &#9726; </a>
		</div>

		{% if cleaningParams.includeSearchField == '1' %}
			{% for part in parts %}
			    <a 	class="pageController" 
			    	onClick="callback_choosePageController(this)"
			    	postURL="{% url 'tifocus:showPartOfFile' %}">
			    	{% ifequal currPart part %} 
			    		<span class="choosenPage">{{ part }}</span> 
			    	{% else %} 
			    		{{ part }} 
			    	{% endifequal %} 
			    </a>
			{% endfor %}


			<div class="pageControllerArrows">
				{% if currPart != 0 %}
				<a 	class="pageController" 
			    	onClick="callback_choosePageController_prev(this)"
			    	postURL="{% url 'tifocus:showPartOfFile' %}">
			    	&larr;
			    </a>
			    {% else %}
			    	&nbsp;
			    {% endif %}
			    {% if currPart != Nparts %}
			    <a 	class="pageController" 
			    	onClick="callback_choosePageController_next(this)"
			    	postURL="{% url 'tifocus:showPartOfFile' %}">
			    	&rarr;
			    </a>
			    {% else %}
			    	&nbsp; 
			    {% endif %}
		</div>

			<div class="SearchDiv">
				<form class="SearchForm" action="{% url 'tifocus:showFileWithSearchResults' %}" method="POST">
					<input type="text" name="wordToFind" 	 size="10" value=""/>
					<input type="hidden" name="fileName" 	 size="10" value=""/>
					<input type="hidden" name="languageCode" size="10" value=""/>
					<input type="submit" value="Search!"/>
				</form>
			</div>
		{% endif %}

	</div>
	
</td>
</tr>
