snippet . "New entry" b
[%] @${1:YourGreatThought}
endsnippet

snippet ., "New entry with date" b
$`date +%Y%m%d` [%] @${1:YourGreatThought}
endsnippet

snippet echo-gi "echo to .gitignore" b
echo "${1:command}" >> .gitignore
endsnippet

